@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #415a77;
}

body {
  background-attachment: fixed;
}

#form {
  width: 400px;
  margin: 20vh auto 0 auto;
  background-color: #edf2f4;
  border-radius: 5px;
  padding: 30px;
}

h1 {
  text-align: center;
  color: #03071e;
}

#form button {
  background-color: #03071e;
  color: #edf2f4;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid #03071e;
  padding: 10px;
  margin: 20px 0px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group input {
  border-radius: 5px;
  font-size: 20px;
  margin-top: 5px;
  padding: 10px 0;
  border: 1px solid #03071e;
}

.input-group input:focus {
  outline: 0;
}

.input-group .error {
  color: #9d0208;
  font-size: 16px;
  margin-top: 5px;
}
.input-group .success input {
  border-color: #1b4332;
}

.input-group.error input {
  border-color: #9d0208;
}
